// Colours
$pebble: #5C686D;
$sand: #FEDF3B;
$wave: #3EA7DD;
$spray: #63F2CB;
$sun: #F5B146;
$black: #000000;
$tide: #8ACBEB;
$wash: #9FF7DF;
$set: #F09329;
$ocean: #1D70B7;
$lagoon: #4DDCD9;

// Gradients
